<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CurrentCredit" value="100" />
    <add key="SMSCost" value="0.2" />
    <add key="SMSDeleteThreshold" value="170" />
    <add key="CreditStopLimit" value="20" />
    <add key="Com" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Destinations" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Server=walid\SQL2005;Persist Security Info=True;Integrated Security=false;Connect Timeout=900;Initial Catalog=smscb;User=walid;PASSWORD=123456;" />
    <add name="SMSHandler.Properties.Settings.smscbConnectionString"
      connectionString="Data Source=WALID\SQL2005;Initial Catalog=smscb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SMSServer.Properties.Settings.smscbConnectionString"
      connectionString="Data Source=WALID\SQL2005;Initial Catalog=smscb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SMSServer.Properties.Settings.SMSCBConnectionString1"
      connectionString="Data Source=walid\sql2005;Initial Catalog=SMSCB;Persist Security Info=True;User ID=walid"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>