<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMSHandler.DataMapping.Properties.Settings.smscbConnectionString"
            connectionString="Data Source=WALID\SQL2005;Initial Catalog=smscb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SMSHandler.DataMapping.Properties.Settings.SMSCBConnectionString1"
            connectionString="Data Source=walid\sql2005;Initial Catalog=SMSCB;Persist Security Info=True;User ID=walid;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SMSHandler.DataMapping.Properties.Settings.smscbConnectionString2"
            connectionString="Data Source=5.145.42.21\SQL2005;Initial Catalog=smscb;Persist Security Info=True;User ID=walid;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SMSServer.DataMapping.Properties.Settings.SMSCBConnectionString1"
            connectionString="Data Source=walid\sql2005;Initial Catalog=SMSCB;Persist Security Info=True;User ID=walid"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>